# Python Basics

This notebook is created by Hilal Tuana Kum.

## Variable

In [81]:
var1 = 10 #integer

var2 = 10.0 #float

var3 = "ten" #string

In [82]:
str1 = "python"
type(str1)

str

In [83]:
str2 = "100"
str3 = "200"
str2 + str3

'100200'

In [84]:
len(str2 + str3) #length

6

In [85]:
str4 = "hello world"
str4[::-1]

'dlrow olleh'

In [56]:
float1 = 10.6
int(float1)

10

In [57]:
round(float1)

11

## Functions

### Built-in Functions

Built functions: A function that is built into an application.

- int(), float(), type()..

### User Defined Functions

In [58]:
def first_func(a, b):
    output = (((a + b)*50) / 100.0) * a / b
    return output

In [61]:
first_func(20,40)

15.0

In [64]:
a = int(input("Please, enter a number: "))
b = int(input("Please, enter a number: "))
first_func(a,b)

Please, enter a number: 20
Please, enter a number: 40

15.0

### Default and Flexible Functions

In [65]:
#default

#circumference of the circle
def circumference(r,pi=3.14):
    output = 2*pi*r
    return output
circumference(2)

12.56

In [95]:
def s(x, y = 2):
    n = 2
    for i in range(y):
        n = n + x
    return n
s(2)

6

In [101]:
#flexible

def calculate(weight,height,*args): #*args is a parameter that helps to add variables to the function.
    sum = weight + height + args[0]
    print(args)
    return sum
calculate(60,163,13,14,15)

(13, 14, 15)

236

### Lambda Function

In [4]:
def multiplication(x):
    return x*x
multiplication(4)

16

In [5]:
result = lambda x : x*x
result(4)

16

In [8]:
y = 3
x = lambda x:x*y
x(3)

9

## List

In [42]:
list = [1,2,3,4,5]
type(list)

list

In [43]:
list[::-1]

[5, 4, 3, 2, 1]

In [33]:
dir(list) #list of methods

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [44]:
list.append(6)
list

[1, 2, 3, 4, 5, 6]

In [47]:
list.remove(3)
list

[1, 2, 4, 5, 6]

In [45]:
list2 = [3,7,2,5,4,6,1]

In [46]:
list2.sort()
list2

[1, 2, 3, 4, 5, 6, 7]

In [49]:
help(list.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

## Tuple

In [51]:
t = (1,2,3,4,4,4,5)
t

(1, 2, 3, 4, 4, 4, 5)

In [52]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [53]:
t.count(4)

3

In [54]:
t.index(5)

6

## Dictionary

- **dictionary = {keys:values}**

In [58]:
d = {"istanbul":34, "izmir":35,"ankara":6}
d

{'istanbul': 34, 'izmir': 35, 'ankara': 6}

In [62]:
type(d)

dict

In [61]:
d["istanbul"]

34

In [66]:
type(d["istanbul"])

int

In [71]:
d.keys()

dict_keys(['istanbul', 'izmir', 'ankara'])

In [72]:
d.values()

dict_values([34, 35, 6])

## If - Else Statements

In [74]:
def search_in_list(v):
    list = [1,2,3,4,5]
    if v in list:
        print("{} value is in the list.".format(v))
    else:
        print("{} value is not in the list.".format(v))

num = int(input("Enter the number: "))
search_in_list(num)

Enter the number: 9
9 value is not in the list.

In [5]:
def search_in_dictionary(dictionary, key):
    if key in dictionary:
        print("{} key is in the dictionary and {}'s number plate is {}.".format(key,key,dictionary[key]))
    else:
        print("{} key is not in the dictionary".format(key))
        answer = str(input("Would you add this key into dictionary?"))
        if answer == "Yes":
            numberPlate = int(input("Enter the {}'s number plate: ".format(key)))
            dictionary[key] = numberPlate
            print(dictionary)
        else:
            print(dictionary)

In [6]:
key = str(input("Enter the city name: "))
dictionary = {"istanbul":34, "izmir":35,"ankara":6}
search_in_dictionary(dictionary, key)

Enter the city name: izmir
izmir key is in the dictionary and izmir's number plate is 35.

## Quiz

In [10]:
# input == integer year, output == integer century

def find_century(year):
    
    str_year = str(year)
    
    if len(str_year) < 3:
        return 1
    
    elif len(str_year) == 3:
        if str_year[1:3] == "00":         #100,200,..,900
            return int(str_year[0])
        else:                             #190,460,740
            return int(str_year[0]) + 1
   
    else:                                 #1970,2004,1243..
        if str_year[2:4] == "00":         #1000,1300,1700,2000
            return int(str_year[0:2])
        else:                             #1790,1564
            return int(str_year[0:2]) + 1

In [11]:
year = int(input("Please, Enter a year: "))
century = find_century(year)
print("{} year is equal to {}. century.".format(year,century))

Please, Enter a year: 1780
1780 year is equal to 18. century.

## For Loop

In [12]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
for i in "happy new year!":
    print(i)

h
a
p
p
y

n
e
w

y
e
a
r
!

In [16]:
for i in "happy new year!".split():
    print(i)

happy
new
year!

In [17]:
list = [1,2,3,4,5,6,7]

In [18]:
sum(list)

28

**OR**

In [27]:
count = 0
for i in list:
    count = i + count
    print(count)

1
3
6
10
15
21
28

## While Loop

In [28]:
i = 0
while(i<4):
    print(i)
    i = i + 1

0
1
2
3

In [32]:
list2 = [5,8,2,6]
limit = len(list2)
i = 0
count = 0
while(i < limit):
    count = count + list2[i]
    i = i + 1
    
count

21

## Quiz

In [43]:
# find the minimum number in the list

list1 = [1,3,15,19,20,35,-199,42,-5,-15,2,40]

minimum = list1[0]

for numbers in list1:
    if(numbers < mini):
        minimum = numbers
    else:
        continue

print(minimum)

-199

**Resources**
: [Python: Python Programming for AI](https://www.udemy.com/course/python-sfrdan-uzmanlga-programlama-1/) - DATAI TEAM